    <div data-bind="foreach : items">
        <select data-bind="value : type, options : $parent.types">
        </select>
        <div data-bind="template : type">
        </div>
        <a href="javascript:void(0)" data-bind="click: $parent.delete">delete</a>
    </div>
    <div>
        <input type="text" data-bind="value : from"/>
        <input type="text" data-bind="value : to"/>
        <a href="javascript:void" data-bind="click : add">add</a>
    </div>

    <script type="text/javascript" src="viewModels/edit.js"></script>
    <script type="text/javascript">
    $(function() {
        var model = <%-JSON.stringify(m)%>;
        
        var viewModel = new EditViewModel(model);

        ko.applyBindings(viewModel);
    });
    </script>

<!-- todo: change template engin -->
<script type="text/html" id="def">
    <span data-bind="text : from"></span>    
    <input type="text" data-bind="value : to"/>    
</script>
<script type="text/html" id="eql">
    <span data-bind="text : from"></span>    
    <select data-bind="value : from, options : $parent.fromList"></select>
</script>
<script type="text/html" id="none">
    <span data-bind="text : from"></span>    
    none
</script>